{
  "openapi": "3.0.3",
  "info": {
    "version": "0.0.1",
    "title": "Petly API 1.0",
    "description": "Creative team 7 back-end API",
    "contact": {
      "email": "petly@petly.com"
    }
  },
  "servers": [
    {
      "url": "https://backend.petly.com"
    },
    {
      "url": "http://backend.petly.com"
    },
    {
      "url": "http://localhost:3000"
    }
  ],
  "tags": [
    {
      "name": "Users",
      "description": "Users endpoints"
    },
    {
      "name": "Notices",
      "description": "Notices endpoints"
    },
    {
      "name": "Pets",
      "description": "Pets endpoints"
    },
    {
      "name": "Other",
      "description": "Other endpoints"
    }
  ],
  "paths": {
    "/users/signup": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "User registration",
        "parameters": [],
        "security": [],
        "requestBody": {
          "description": "Registration's object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignupAndLoginRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created \"Successful operation\"",
            "content": {
              "application/json": {
                "schema": {
                  "title": "201",
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "description": "description",
                      "example": {
                        "email": "userEmail"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "400",
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "description",
                      "example": "Invalid value of email or password"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "title": "409",
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "description",
                      "example": "Email in use"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "500",
                  "type": "object",
                  "example": {
                    "message": "error description"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/login": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "User login",
        "parameters": [],
        "security": [],
        "requestBody": {
          "description": "Login object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignupAndLoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK \"Successful operation\"",
            "content": {
              "application/json": {
                "schema": {
                  "title": "200",
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string",
                      "description": "description",
                      "example": "token"
                    },
                    "refreshToken": {
                      "type": "string",
                      "description": "description",
                      "example": "token"
                    },
                    "user": {
                      "type": "object",
                      "description": "description",
                      "example": {
                        "email": "userEmail"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request \"validate error\"",
            "content": {
              "application/json": {
                "schema": {
                  "title": "400",
                  "type": "object",
                  "example": {
                    "message": "Wrong email or password"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (one of the \"message\")",
            "content": {
              "application/json": {
                "schema": {
                  "title": "401",
                  "type": "object",
                  "example": [
                    {
                      "message": "Email or password is wrong"
                    },
                    {
                      "message": "Your Email is not verifyied!"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "500",
                  "type": "object",
                  "example": {
                    "message": "error description"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/edit": {
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": "User edit",
        "parameters": [],
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "description": "User object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserEditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK \"Successful operation\""
          }
        }
      }
    },
    "/users/logout": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "User logout",
        "parameters": [],
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "204": {
            "description": "No Content \"Successful operation\""
          }
        }
      }
    },
    "/notices/title": {
      "get": {
        "tags": [
          "Notices"
        ],
        "summary": "Search ads by title",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "OK \"Successful operation\""
          }
        }
      }
    },
    "/notices/category": {
      "get": {
        "tags": [
          "Notices"
        ],
        "summary": "Receive ads by category",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "OK \"Successful operation\""
          }
        }
      }
    },
    "/notices/{noticeId}": {
      "get": {
        "tags": [
          "Notices"
        ],
        "summary": "Receive one ad by id",
        "parameters": [
          {
            "name": "noticeId",
            "in": "path",
            "description": "notice id string",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "OK \"Successful operation\""
          }
        }
      }
    },
    "/notices/selected": {
      "post": {
        "tags": [
          "Notices"
        ],
        "summary": "Add the ad to favorites",
        "parameters": [],
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK \"Successful operation\""
          }
        }
      },
      "get": {
        "tags": [
          "Notices"
        ],
        "summary": "Receive ads added to favorites",
        "parameters": [],
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK \"Successful operation\""
          }
        }
      }
    },
    "/notices/selected/{noticeId}": {
      "delete": {
        "tags": [
          "Notices"
        ],
        "summary": "Delete the ad from favorites",
        "parameters": [
          {
            "name": "noticeId",
            "in": "path",
            "description": "notice id string",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK \"Successful operation\""
          }
        }
      }
    },
    "/notices/user": {
      "post": {
        "tags": [
          "Notices"
        ],
        "summary": "Add ads to a category",
        "parameters": [],
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK \"Successful operation\""
          }
        }
      },
      "get": {
        "tags": [
          "Notices"
        ],
        "summary": "Receive all users ads",
        "parameters": [],
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK \"Successful operation\""
          }
        }
      }
    },
    "/notices/user/{noticeId}": {
      "delete": {
        "tags": [
          "Notices"
        ],
        "summary": "Delete the ad by id",
        "parameters": [
          {
            "name": "noticeId",
            "in": "path",
            "description": "notice id string",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK \"Successful operation\""
          }
        }
      }
    },
    "/pets": {
      "post": {
        "tags": [
          "Pets"
        ],
        "summary": "Add user's pet",
        "parameters": [],
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK \"Successful operation\""
          }
        }
      }
    },
    "/pets/{petId}": {
      "delete": {
        "tags": [
          "Pets"
        ],
        "summary": "Delete user's pet",
        "parameters": [
          {
            "name": "petId",
            "in": "path",
            "description": "pet id string",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK \"Successful operation\""
          }
        }
      }
    },
    "/servicesSidebar": {
      "get": {
        "tags": [
          "Other"
        ],
        "summary": "Get contact information about services that provide services",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "OK \"Successful operation\""
          }
        }
      }
    },
    "/news": {
      "get": {
        "tags": [
          "Other"
        ],
        "summary": "Get all news",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "OK \"Successful operation\""
          }
        }
      }
    },
    "/userAndPets": {
      "get": {
        "tags": [
          "Other"
        ],
        "summary": "Get personal information about the user, and information about the user's pets",
        "parameters": [],
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK \"Successful operation\""
          }
        }
      }
    },
    "/uploadAvatar": {
      "post": {
        "tags": [
          "Other"
        ],
        "summary": "Upload a picture/photo/avatar and get a link to it",
        "parameters": [],
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "fileName": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK \"Successful operation\""
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SignupAndLoginRequest": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "description": "User's email",
            "format": "email"
          },
          "password": {
            "type": "string",
            "description": "User's password",
            "example": "qwerty123"
          }
        }
      },
      "UserEditRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "description": "User's email",
            "format": "email"
          },
          "birthdate": {
            "type": "string"
          },
          "mobilePhone": {
            "type": "string"
          },
          "cityRegion": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}